<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field d-none">
    <%= form.label :votes %>
    <%= form.number_field :votes, value: 0, type: :hidden %>
  </div>  

   <div class="field d-none">
    <%= form.label :post_id %>
    <%= form.number_field :post_id, value: post_id, type: :hidden %>
  </div>

  <p>
    <div class="field d-inline">
      <%= form.label :sub_con, '항목' %>
      <%= form.text_field :sub_con, :required => true %>
    </div>

    <div class="actions d-inline">
      <%= form.submit "#{message}" %>
    </div>
  </p>
<% end %>
