<p id="notice"><%= notice %></p>

<p>
  <strong>Sub con:</strong>
  <%= @subject.sub_con %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @subject.votes %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
