
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>photo:</strong>
  <% if @post.photo.attached? %>
    <%= image_tag @post.photo, class: 'photo' %>
  <% end %>
</p>

<% if @post.subjects %>
  <p>
    <strong>subjects:</strong>
    <%= @post.subjects %>
  </p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
