<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %> 
            <li class="nav-item">
                <%= link_to 'ë¡œê·¸ì•„ì›ƒ', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'íšŒì› ìˆ˜ì •', edit_user_registration_path, class: 'nav-link' %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to 'ë¡œê·¸ì¸', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'íšŒì›ê°€ìž…', new_user_registration_path, class: 'nav-link' %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
-->

<div class="header">
  <div class="headerLeft">
    <%= link_to 'ðŸ”¥í•«í•´ìš”', 'localhost:3000/top_ten' %>
    <%= link_to 'ì‹¤ì‹œê°„', 'localhost:3000/posts' %>
    <%= link_to 'ê¸€ì“°ê¸°', 'localhost:3000/write' %>
  </div>
  <h1>IMG</h1>
  <div class="headerRight">
    <% if user_signed_in? %>
      <%= link_to 'ë¡œê·¸ì•„ì›ƒ', destory_user_session_path, method: :delete %>
      <%= link_to 'íšŒì› ìˆ˜ì •', edit_user_registration_path %>
    <% else %>
      <%= link_to 'ë¡œê·¸ì¸', new_user_session_path %>
      <%= link_to 'íšŒì›ê°€ìž…', new_user_registration_path %>
    <% end %>
  </div>
</div>