<div class="header">
  <div class="headerLeft">
    <%= link_to 'ðŸ”¥í•«í•´ìš”', toptens_index_path %>
    <%= link_to 'ì‹¤ì‹œê°„', posts_path %>
    <%= link_to 'ê¸€ì“°ê¸°', new_post_path %>
  </div>
  <a href="<%= root_path %>"><%= image_tag("/images/logo.png", width: '50px;') %></a>
  <div class="headerRight">
    <% if user_signed_in? %>  <!-- user_signed_in : ìœ ì €ê°€ ë¡œê·¸ì¸ ë˜ì–´ìžˆëŠ”ì§€ ê²€ì‚¬ -->
      <div class="dropdown">
        <% if current_user.profile.attached? %>
          <%= image_tag current_user.profile, class: 'profile' %>
        <% else %>
          <%= image_tag '/images/back.jpeg', class: 'profile' %>
        <% end %>
        <%= link_to current_user.nickname+'ë‹˜' %> <!-- current_user : í˜„ìž¬ ìœ ì €ì— ëŒ€í•œ ëª¨ë¸ ì •ë³´ -->
        <div class="dropdown-content">
          <p><%= link_to 'ë§ˆì´íŽ˜ì´ì§€', '/my_page' %></p>
          <hr>
          <p><%= link_to 'ë¡œê·¸ì•„ì›ƒ', destroy_user_session_path, method: :delete %></p>
        </div>
      </div>
    <% else %>
      <%= link_to 'ë¡œê·¸ì¸', new_user_session_path %>
      <%= link_to 'íšŒì›ê°€ìž…', new_user_registration_path %>
    <% end %>
  </div>
</div>